#header {
    display: flex;
    align-items: center;
    height: 100px;
    background: #000;
}

#header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .gnb>ul {
    display: flex;
    gap: 70px;
    color: white;
}

#header .gnb>ul>li {
    position: relative;
}


.inner {
    font-size: 20px;
    margin: 0 20px 0 20px;
    width: 1400px;
    margin: 0 auto;
}

.inner .icon_1 {
    color: white;
 font-size: 20px;
}
